<!DOCTYPE html>
<html>
  <head>    
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  </head>    
  <body>

    <div class="container mt-5">
      
        <h2> 
          <div class="display-3">Successful! </div>
          <small class="text-muted">..  you can now login using the app</small>
        </h2>
        <br>

    </div>
  </body>      
</html>