<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/bootstrap-head %>    
    <meta charset="UTF-8">
    <title>Homepage</title>
  </head>

  <body>
       <% if( true == false) { %>
           <% include ../partials/main %>    
       <% } else{ %>
           <% include ../partials/login-box %>  
       <%} %>
   
       <nav class="navbar fixed-bottom navbar-light bg-faded justify-content-end">
         <a class="navbar-brand " href="#"> Grocery Guy 
            <small>version 1.0</small>
         </a>
       </nav>
  </body>  

   <% if( true == false) { %>
        <script>require('../../api/user.actions.js');</script>
   <% } else{ %>
        <script>require('../../api/login.actions.js');</script>
        <script>require('../../api/register-redirect.js');</script>
   <%} %> 
    
</html>